.hotspot-container {
    position: relative;
}

.admin-hotspot {
    position: absolute;
    display: inline-block;

    width: 30px;
    height: 30px;

    background: white;
    border-radius: 50px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.delete-zone {
    border: 3px solid red;
    color: red;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
