.hotspot-container {
    position: relative;
}

.image-hotspot {
    position: absolute;
    display: inline-block;

    width: 30px;
    height: 30px;

    background: white;
    border-radius: 50px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.image-hotspot-content {
    display: none;

    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 10;

    width: 33%;
    height: 100%;

    background: white;
}
